.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}
#projec {
  background-color: #e2edff;
}

h3 {
  font-family: "Times New Roman";
  font-size: 50px;
  font-style: bold;
  color: #e2edff;
}
section {
  padding-top: 5rem;
}
#con {
  background-color: #226ee9;
}
 
